@charset "EUC-KR";
#wrap{
    widows: 100%;
    height: 100%;
}

 /* container */
#container{
}
#container .title{
    width:400px;
    height:250px;
    margin:30px auto 20px;
    background: #ccc;
    position: relative;
}
#container .title img{
    width:100%;
    height:100%;
}
#container .title h1.logo{
	width:400px;
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	line-height: 250px;
	font-size:60px;
}
#container .search{
    width: 500px;
    height:35px;
    margin: 0 auto;
}
#container .search input{
    width:100%;
    height: 100%;
    border: 0px;
    border-radius: 20px;
    background:#ccc5;
    line-height: 35px;
    font-size: 18px;
    text-indent: 23px;
}

#container .shortcut{
    width:400px;
    height:auto;
    margin:50px auto 0;

    overflow: hidden;
}
#container .shortcut ul{
    position: relative;
    float: right;
    left: -50%;
}
#container .shortcut ul li{
    width:60px;
    height:70px;
    float: left;
    position:relative;
    left: 50%;
    margin:0 1px;
	border:10px solid #ccc;
}
#container .shortcut ul li a{
	word-break:keep-all;
	text-align: center;
	display: flex;
}

 /* footer */
#footer{
    
}

/* event */

#container .search input:focus{
    outline: none;
}
#container .search input:hover{
    background:#ccc8;
}